%dl.menu.down.hidden#main-menu
  %dt Menú
  %dd.options
    %ul
      %li
        %a#play{:href => '#'} Jugar
      %li
        %a#choose-level{:href => '#'} Elegir nivel
      %li
        %a#last-ratings{:href => '#'} Últimas puntuaciones
      %li
        %a#about{:href => '#'} Acerca de
      %li
        %a#credits{:href => '#'} Créditos

%dl.menu.left.hidden#play-menu
  %dt Elije tus jugadores
  %dd.options
    %ul.gallery#choose-birds
      %li
        %a#bird-1{:href => '#'}
          %img{:src => '/images/bird_1.png'}/
          Yellow
      %li
        %a#bird-2{:href => '#'}
          %img{:src => '/images/bird_2.png'}/
          Red
      %li
        %a#bird-3{:href => '#'}
          %img{:src => '/images/bird_3.png'}/
          White
      %li
        %a#bird-4{:href => '#'}
          %img{:src => '/images/bird_4.png'}/
          Blue
      %li
        %a#bird-5{:href => '#'}
          %img{:src => '/images/bird_5.png'}/
          Black
      %li
        %a#bird-6{:href => '#'}
          %img{:src => '/images/bird_6.png'}/
          Green
    %a.button.wide.close{:href => '#'} Close

%dl.menu.left.hidden#choose-level-menu
  %dt Elije nivel
  %dd.options
    %ul
      %li
        %a#level-0{:href => '#'} Principiante
      %li
        %a#level-1{:href => '#'} Medio
      %li
        %a#level-2{:href => '#'} Experto