%dl.menu.down.hidden#main-menu
  %dt Menú
  %dd.options
    %ul
      %li
        %a#play{:href => '#'} Jugar
      %li
        %a#choose-level{:href => '#'} Elegir nivel
      %li
        %a#last-ratings{:href => '#'} Últimas puntuaciones
      %li
        %a#about{:href => '#'} Acerca de
      %li
        %a#credits{:href => '#'} Créditos

%dl.menu.left.hidden#play-menu
  %dt Elije tus jugadores
  %dd.options
    %ul.gallery#choose-birds
      %li
        %a#bird-1{:href => '#'}
          %img{:src => '/images/bird_1.png'}/
          Yellow
      %li
        %a#bird-2{:href => '#'}
          %img{:src => '/images/bird_2.png'}/
          Red
      %li
        %a#bird-3{:href => '#'}
          %img{:src => '/images/bird_3.png'}/
          White
      %li
        %a#bird-4{:href => '#'}
          %img{:src => '/images/bird_4.png'}/
          Blue
      %li
        %a#bird-5{:href => '#'}
          %img{:src => '/images/bird_5.png'}/
          Black
      %li
        %a#bird-6{:href => '#'}
          %img{:src => '/images/bird_6.png'}/
          Green
    %a.button.wide.close{:href => '#'} Close

%dl.menu.left.hidden#choose-level-menu
  %dt Elije nivel
  %dd.options
    %ul
      %li
        %a#level-0{:href => '#'} Principiante
      %li
        %a#level-1{:href => '#'} Medio
      %li
        %a#level-2{:href => '#'} Experto

%dl.menu.left.hidden#last-ratings-menu
  %dt Últimas puntuaciones
  %dd.options
    %ul
      - @last_ratings.each do |rating|
        %li
          = rating["player"]
          \-
          = rating["points"]
          puntos

%dl.menu.left.hidden#about-menu
  %dt Acerca de
  %p Angry Pigs es un juego de disparos basado en Angry Birds. Consiste en un solo jugador contra la máquina, donde el ganador es el que logra destruir todos los miembros del equipo contrario.
  %p Ambos jugadores pueden mover los miembros de su equipo a los lados, a un máximo de 3 posiciones con respecto a su posición.
  %p Cada jugar tiene un equipo de 3 miembros. Se pueden elegir los miembros del equipo antes de empezar el juego y se pueden cambiar los miembros que quedan del equipo durante el juego.
  %p
    Existen tres niveles de dificultad:
    = succeed "," do
      %strong Principante
    %strong Normal
    y
    = succeed "." do
      %strong Experto
  %a.button.wide.close{:href => '#'} Close

%dl.menu.left.hidden#credits-menu
  %dt Créditos
  %p
    Juego desarrollado por:
    %ul
      %li Gustavo Leon Rojas
      %li Moises Regalado Espinoza
      %li Bruno Sergio Cardenas
  %a.button.wide.close{:href => '#'} Close